@use '../utils' as *;

/*=============================
    03. brand
===============================*/
.td-brand{
    &-active{
        & .swiper-slide {
            width: 250px;
            @media #{$sm,$xs} {
                width: 180px;
            }
        }
    }
    &-logo{
        &:hover{
           & a{
               & img{
                 opacity: 0.4;
               }
           }
        }
    }
    &-shape{
        position: absolute;
        top: 10px;
        left: 0;
        width: 30%;
        z-index: -1;
    }
}
.slide-transtion {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}